html {
  background-color: #303030;
}

#root {
  background-color: #303030;
}

.App {
  text-align: center;
  color: #FFFFFF;
}

.posts {
  margin: auto;
  width: fit-content;
}

.card {
  margin: 2rem 0;
  background-color: #424242;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card p {
  opacity: 0.7;
}